@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    position: relative;
    min-width: 0;
    flex: 0 0 80vw;
  }

  
  .embla__slide img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: contain;
  }

    .embla__label {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    font-size: 1.25rem;
  }